# Global Ports for Shell Apps
VITE_PORT_AUTH=3001
VITE_PORT_ADMIN=3000

# Shell App URLs (genpos.test Local DNS)
VITE_ADMIN_HOST=genpos.test
VITE_ADMIN_URL=http://genpos.test:3000
VITE_AUTH_HOST=genpos.test
VITE_AUTH_URL=http://genpos.test:3000/sso

# Domain for SSO Cookie Sharing
VITE_SESSION_DOMAIN=.genpos.test

# Backend API URL
VITE_API_BASE_URL=http://localhost:8000
VITE_API_REFRESH_PATH=/auth/refresh

VITE_SSO_PATH="/sso"
VITE_ADMIN_PATH="/"
